<div id="view-profile">
  <div class="container">
    <div class="one column row">
      <div class="column">
        <img class="ui medium circular image" src="{{data.avatar}}">
        <h3 class="ui header">
          {{data.first_name}} {{data.middle_name}} {{data.last_name}}
        </h3>
        <hr/>
        <div>
          <strong>DOB:</strong>{{data.dob}}
        </div>
        <div>
          <strong>Age:</strong>{{data.age}}
        </div>
        <div>
          <strong>Email:</strong>{{data.email}}
        </div>
        <div>
          <strong>Contact No 1:</strong>{{data.phone_number_one}}
        </div>
        <div>
          <strong>Contact No 2:</strong>{{data.phone_number_two}}
        </div>
        <div>
          <strong>Address:</strong>{{data.address}}
        </div>
        <div>
          <strong>About Me:</strong>{{data.about_me}}
        </div>
      </div>
    </div>
  </div>
</div>