
<table class="ui red table view-contacts-table ">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Contact No 1</th>
      <th>Contact No 2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts | slice:initialValue:selectedValue" (contextmenu)="onRightClick($event , contact)">
      <td>
        <img src="{{contact.avatar}}" data-title="Elliot Fu" data-content="Elliot has been a member since July 2012" class="ui avatar image">
      </td>
      <td>{{contact.firstName}}</td>
      <td>{{contact.middleName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phoneNumberOne}}</td>
      <td>{{contact.phoneNumberTwo}}</td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="6">
          <div class="ui pagination menu">
            <a class="item" (click)="prevPage($event)">
              <<
            </a>
            <a class="item ui disabled button">
              ...
            </a>
            <a class="item" (click)="nextPage($event)">
              >>
            </a>
          </div>
          <div class="pagination-select">
              <form>
                <md-select placeholder="items per page:" [(ngModel)]="selectedValue" name="items">
                  <md-option *ngFor="let option of options" [value]="option.value">
                    {{option.viewValue}}
                  </md-option>
                </md-select>
              </form>
          </div>
      </th>
    </tr>
  </tfoot>  
</table>
<div class="ui items app-contact-extra-menu" *ngIf="currentContact" >
    <div class="item"><a routerLink="/view-contact/{{currentContact.id}}" routerLinkActive="active">View</a></div>
    <div class="item"><a routerLink="/edit-contact/{{currentContact.id}}" routerLinkActive="active">Edit</a></div>
</div>