.app-contact-extra-menu{
    width:200px;
    background-color: #ffffff !important;
    padding:10px 20px;
}

.view-contacts-table{
    width:80vw !important;
}

.pagination-select{
    display: inline-block !important;
    margin-left: 20px !important;
}