<div id="edit-profile">
    <form class="ui form">
      {{initialData|json}}
      <div class="ui grid">
            <div class="two column row">
              <div class="column">
                <div class="field">
                  <label>First Name</label>
                  <input type="text" name="first-name" value="{{initialData.first_name}}" placeholder="First Name">
                </div>
                <div class="field">
                  <label>Middle Name</label>
                  <input type="text" name="last-name" value="{{initialData.middle_name}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>Last Name</label>
                  <input type="text" name="last-name" value="{{initialData.last_name}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>DOB</label>
                  <input type="text" name="last-name" value="{{initialData.dob}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>Age</label>
                  <input type="text" name="last-name"  value="{{initialData.age}}" placeholder="Last Name">
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label>Email </label>
                  <input type="text" name="last-name" value="{{initialData.email}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>Contact 1</label>
                  <input type="text" name="last-name" value="{{initialData.phone_number_one}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>Contact 2</label>
                  <input type="text" name="last-name" value="{{initialData.phone_number_two}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>Address</label>
                  <input type="text" name="last-name" value="{{initialData.address}}" placeholder="Last Name">
                </div>
                <div class="field">
                  <label>About Me</label>
                  <input type="text" name="last-name" value="{{initialData.about_me}}" placeholder="Last Name">
                </div>
              </div>
            </div>
        </div>
        <br>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>