<div id="view-profile">
  <div class="container">
    <div class="one column row">
      <div class="column">
        <img class="ui medium circular image" [src] ="data.avatar" />
        <h3 class="ui header">
          {{data.firstName}} {{data.middleName}} {{data.lastName}}
        </h3>
        <hr/>
        <div>
          <strong>DOB:</strong>{{data.dob}}
        </div>
        <div>
          <strong>Age:</strong>{{data.age}}
        </div>
        <div>
          <strong>Email: </strong>{{data.email}}
        </div>
        <div>
          <strong>Contact No 1:</strong>{{data.phoneNumberOne}}
        </div>
        <div>
          <strong>Contact No 2:</strong>{{data.phoneNumberTwo}}
        </div>
        <div>
          <strong>Address:</strong>{{data.address}}
        </div>
        <div>
          <strong>About Me: </strong>{{data.aboutMe}}
        </div>
      </div>
    </div>
  </div>
</div>