<div id="edit-contact">
  <p>
    edit-contact works! {{id}}
  </p>

    <form  [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)" >
        <md-form-field class="example-full-width">
            <input mdInput   name="firstName" formControlName="firstName">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput   name="middleName" formControlName="middleName">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput   name="lastName" formControlName="lastName">
        </md-form-field>
        <br><br>
        <md-form-field class="example-full-width">
            <input mdInput   name="email" formControlName="email">
        </md-form-field>
        <md-form-field>
            <input mdInput (dateChange)="onDateChange($event)" [mdDatepicker]="picker" placeholder="Choose a date of birth" name="dob" formControlName="dob">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker #picker startView="year"  [startAt]="defaultDate" ></md-datepicker>
        </md-form-field>
    
        <md-form-field class="example-full-width">
            <input mdInput  name="age" formControlName="age">
        </md-form-field>
        <br><br>
        <md-form-field class="example-full-width">
            <input mdInput   name="phoneNumberOne" formControlName="phoneNumberOne" >
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput   name="phoneNumberTwo" formControlName="phoneNumberTwo" >
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput  name="permanentAddress" formControlName="permanentAddress" >
        </md-form-field>
    
        <br><br>
        <md-form-field class="example-full-width">
            <input mdInput   name="alternateAddress" formControlName="alternateAddress" >
        </md-form-field>
        
        <p>Image Preview :</p>
        <img img class="ui medium circular image" style="width:150px !important" src="{{avatar}}" alt="">
        <br><br>
        <button 
            type="button"  
            class="ui active button" 
            ngFilePicker 
            (filePick)="setImagePreview($event)"
        >
        <i class="cloud icon"></i> Upload  
        </button><span *ngIf="fileName"> {{fileName}}</span>
        <input type="hidden" name="avatar"  formControlName="avatar" >
        <br><br>
        <button class="ui button"  type="submit">Edit Contact</button>
    
    </form>
</div>