<div id="edit-contact">
  <p>
    edit-contact works! {{id}}
  </p>

  <form class="ui form">
    <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" value="{{currentContact.first_name}}" placeholder="First Name">
              </div>
              <div class="field">
                <label>Middle Name</label>
                <input type="text" name="last-name" value="{{currentContact.last_name}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>DOB</label>
                <input type="text" name="last-name" value="{{currentContact.dob}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Age</label>
                <input type="text" name="last-name" value="{{currentContact.age}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Permanent Address</label>
                <input type="text" name="last-name" value="{{currentContact.permanent_address}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Alternate Address</label>
                <input type="text" name="last-name" value="{{currentContact.alternate_address}}" placeholder="Last Name">
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>Last Name</label>
                <input type="text" name="last-name" value="{{currentContact.last_name}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Phone Number 1</label>
                <input type="text" name="last-name" value="{{currentContact.phone_number_one}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Phone Number 2</label>
                <input type="text" name="last-name" value="{{currentContact.phone_number_two}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Email</label>
                <input type="text" name="last-name"  value="{{currentContact.email}}" placeholder="Last Name">
              </div>
              <div class="field">
                <label>Contact Image</label>
                <img src="{{currentContact.avatar}}"  class="ui medium circular image"/>
              </div>
              <div class="field">
                <input type="file"  name="contact-avatar"   (click)="convertIntoBase64($event)" placeholder="Last Name">
              </div>
            </div>
          </div>
      </div>
      <br>
      <button class="ui button" type="submit">Submit</button>
  </form>
</div>