/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~semantic-ui-css/semantic.min.css";

html,body,header{
    margin:0 ! important;
    padding:0 ! important;
}

body{
    background-color: #fdf6e3;
}